* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

header {
  margin-bottom: 102px;
}

nav {
  float: right;
  text-transform: uppercase;
  margin-top: 28px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

li.menu-list {
  display: inline-block;
  margin-right: 34px;
}

li.menu-list:last-child {
  margin-right: 0;
}

.menu-list-item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #0f0101;
  font-weight: 700;
}

.menu-list-item:hover {
  color: #1abc9c;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
}

.title::after {
  content: "";
  background: #1abc9c;
  display: block;
  width: 168px;
  height: 8px;
  margin: 24px auto 92px;
}

.products-block {
  width: 255px;
  background: #e9f0fd;
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
  text-transform: uppercase;
}

.products-block:nth-child(4n + 5) {
  margin-right: 0;
}

.products-block:nth-last-of-type(-n + 4) {
  margin-bottom: 102px;
}

.products-info {
  background: #282828;
  color: #ffff;
}

.products-block .products-price {
  background: rgba(255, 255, 255, 0.4);
}

.products-block:hover .products-info {
  background: #1abc9c;
}

.products-name {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  width: 201px;
  height: 42px;
  float: left;
  padding-top: 12px;
  padding-left: 14px;
}

.products-price {
  display: block;
  font-size: 18px;
  font-weight: 900;
  width: 54px;
  height: 42px;
  margin: 0;
  float: right;
  text-align: center;
  padding-top: 12px;
}

.news {
  font-family: "Open Sans", sans-serif;
  margin-right: 30px;
  text-transform: none;
  width: 350px;
  font-weight: 600;
  float: left;
}

.news:last-child {
  margin-right: 0;
}

.news-list {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 12px;
}

.news-list::after {
  content: "";
  background: #1abc9c;
  display: block;
  width: 136px;
  height: 4px;
  margin: 12px 0 26px;
}

.news-list-item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

button {
  display: block;
  height: 50px;
  width: 160px;
  margin-top: 14px;
  margin-bottom: 45px;
  text-align: center;
  background: #1abc9c;
  border-radius: 5px;
}

.button {
  font-size: 16px;
  color: #ffffff;
}
