* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  float: right;
  padding-bottom: 30px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.02em;
  padding-top: 34px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.logo-letter {
  color: #555252;
}

.menu {
  list-style: none;
  text-transform: uppercase;
  padding-top: 44px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #0f0101;
  font-weight: 700;
  font-size: 0;
}

.menu-list {
  display: inline-block;
  margin-right: 34px;
}

.menu-list:last-child {
  margin-right: 0;
}

.menu-list-item {
  display: block;
  color: #0f0101;
  font-size: 14px;
}

.menu-list-item:hover {
  color: #1abc9c;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.slider {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url(../img/homework-05_02.png);
}

.slider::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.52);
}

.slider-container {
  width: 1110px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 0;
}

.button-ctrl {
  width: 104px;
  height: 104px;
  background: #1abc9c;
  cursor: pointer;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button-ctrl-prev {
  left: 0;
  background-image: url(../img/prev.png);
}

.button-ctrl-next {
  right: 0;
  background-image: url(../img/next.png);
}

.button-ctrl:hover {
  background-color: rgba(78, 198, 171, 0.65);
}

.slider-about {
  position: relative;
  width: 760px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-about-headline {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -0, 02em;
}

.slider-about-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.collection {
  background: #e9f0fd;
}

.title-headline {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
  padding-top: 92px;
  margin-bottom: 80px;
}

.title-headline::after {
  content: "";
  background: #1abc9c;
  display: block;
  width: 168px;
  height: 8px;
  margin: 24px auto 0;
}

.products {
  width: 100%;
}

.card-products {
  width: 255px;
  height: 322px;
  margin-right: 30px;
  float: left;
  position: relative;
}

.img {
  height: 282px;
  position: relative;
}

.info {
  background: #282828;
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  bottom: 0;
}

.name {
  width: 200px;
  height: 42px;
  float: left;
  padding-top: 14px;
  padding-left: 16px;
  text-transform: uppercase;
}

.price {
  width: 54px;
  height: 42px;
  margin: 0;
  float: right;
  text-align: center;
  padding-top: 14px;
  background: rgba(255, 255, 255, 0.4);
}

.card-products:hover .info {
  background: #1abc9c;
}

.overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.buttons-icon {
  width: 50px;
  height: 50px;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border: 1px solid #ffffff;
  margin-right: 6px;
  margin-bottom: 6px;
  float: left;
}

.like {
  background-image: url(../img/6.png);
}

.share {
  background-image: url(../img/2.png);
}

.clock {
  background-image: url(../img/3.png);
}

.basket {
  width: 168px;
  height: 50px;
  float: left;
  background-image: url(../img/4.png);
}






/*.card-products {
  position: relative;
  width: 255px;
  height: 322px;
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
}

.card-products-img {
  background-image: url(../img/category-2.png);
}

.card-products-info {
  background: #282828;
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.card-products:hover .card-products-info {
  background: #1abc9c;
}

.card-products-name {
  width: 200px;
  height: 42px;
  float: left;
  padding-top: 15px;
  padding-left: 12px;
}

.card-products-price {
  width: 54px;
  height: 42px;
  margin: 0;
  float: right;
  text-align: center;
  padding-top: 15px;
  background: rgba(255, 255, 255, 0.4);
}

/*.card-collection {
  width: 100%;
  background: #e9f0fd;
}

.card-container {
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;
}

.title-headline {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
  padding-top: 92px;
}

.title-headline::after {
  content: "";
  background: #1abc9c;
  display: block;
  width: 168px;
  height: 8px;
  margin: 24px auto 80px;
}

.card-products {
  position: relative;
  width: 255px;
  height: 322px;
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
}

.card-img {
  object-fit: cover;
}

.card-products:last-child {
  margin-right: 0;
}

.card-products-info {
  background: #282828;
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.card-products:hover .card-products-info {
  background: #1abc9c;
}


.card-products-name {
  width: 200px;
  height: 42px;
  float: left;
  padding-top: 15px;
  padding-left: 12px;
}

.card-products-price {
  width: 54px;
  height: 42px;
  margin: 0;
  float: right;
  text-align: center;
  padding-top: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.card-overlay {
  position: absolute;
  height: 302px;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.55);
  opacity:0;
}

.card-products:hover .card-overlay {
  
  opacity: 0.55;
}

.wrap {
  width: 168px;
  margin: 80px auto 0;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, .55);
  border: 1px solid #ffffff;
  margin-right: 4px;
}

.icon:nth-child(3){
margin-right: 0;
}

.icon-btn {
width: 166px;
margin-top: 5px;
color: #ffffff;
background: #323232;
opacity: 1;
text-transform: uppercase;
float: left;
}

.icon-btn-text {
  float: right;
  padding-top: 6px;
  padding-right: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.icon:hover {
  background: #1abc9c;
}

footer {
  width: 100%;
  padding: 34px 0px;
  background-color: #323232;
}

.license {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: white;
  text-align: center;
}

.about-designed {
color: #46bfa9;
}

img {
  display: block;
  margin: auto;
  vertical-align: middle;
}*/
