* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  float: right;
  padding-bottom: 30px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.02em;
  padding-top: 34px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.logo-letter {
  color: #555252;
}

.menu {
  list-style: none;
  text-transform: uppercase;
  padding-top: 44px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #0f0101;
  font-weight: 700;
}

.menu-list {
  display: inline-block;
  margin-right: 34px;
}

.menu-list:last-child {
  margin-right: 0;
}

.menu-list-item {
  color: #0f0101;
}

.menu-list-item:hover {
  color: #1abc9c;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.slider-wrap {
  position: relative;
}

.slider-img {
  width: 100%;
  object-fit: cover;
}

.slider-wrap::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.52);
}

.slider {
  position: relative;
}

.slider-container {
  position: absolute;
  height: 100%;
  width: 1110px;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%,0);
}

.ctrl-prev {
  width: 104px;
  height: 104px;
  background: #1abc9c;
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(0,-50%);
  cursor: pointer;
  border: none;
}

.ctrl-prev:hover {
  background: rgba(78, 198, 171, 0.65);
}

.ctrl-next {
  width: 104px;
  height: 104px;
  background: #1abc9c;
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(0,-50%);
  cursor: pointer;
  border: none;
}

.ctrl-next:hover {
  background: rgba(78, 198, 171, 0.65);
}

.title {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -0,02em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

/*.collection {
  background: #e9f0fd;
  padding-top: 90px;
  width: 1600px;
  height: 676px;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  position: relative;
}


.title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
}

.title::after {
  content: "";
  background: #1abc9c;
  display: block;
  width: 168px;
  height: 8px;
  margin: 24px auto 80px;
}

.products {
  width: 255px;
  height: 322px;
  background: #e9f0fd; 
  margin-right: 30px;
  float: left;
  text-transform: uppercase;
}

.products:last-child {
  margin-right: 0;
}

.products-info {
  background: #282828;
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.products:hover .products-info {
  background: #1abc9c;
}


.products-name {
  width: 201px;
  height: 42px;
  float: left;
  padding-top: 15px;
  padding-left: 12px;
}

.products-price {
  width: 54px;
  height: 42px;
  margin: 0;
  float: right;
  text-align: center;
  padding-top: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.products-img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}

.card-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
}*/


