.social-icon {
    @extend %justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 224px;
  
  &__list {
    width: 56px;
    height: 56px;
    background-color: $primary-icon-bg;
    border-right: 1px solid $primary-icon-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s linear;
  }

  &__list:hover .icon {
    fill: $link-color;
  }
  
  &__list:hover {
    background-color: $additional-icon-bg;
  }
}