$main-fon-color: linear-gradient(
  to top,
  rgba(223, 204, 135, 0.9),
  rgba(243, 129, 129, 0.9)
);

$link-color: #ffffff;

$primary-text-color: #999999;

$additional-text-color: #333333;

$primary-icon-bg: #fce38a;

$additional-icon-bg: #f38181;

$button-color: rgba(103, 221, 199, 0.7);

$button-accent-color: #95e1d3;

$input-color: #cccccc;

$font-secondary-text: "Montserrat", sans-serif;

$font-primary-text: "Roboto", sans-serif;

$font-text-title: "Kaushan Script", cursive;